<section class="flows-list-container">

  <div>

    <div class="example-container mat-elevation-z8">

      <mat-table #table [dataSource]="dataSource">

 

        <ng-container matColumnDef="errorMessage">

          <mat-header-cell *matHeaderCellDef style="min-width:250px;"> Error Message </mat-header-cell>

          <mat-cell *matCellDef="let element" style="min-width:250px;"> {{element.errorMessage}} </mat-cell>

        </ng-container>

 

        <ng-container matColumnDef="errorType">

          <mat-header-cell *matHeaderCellDef style="min-width:60px;"> Error Type </mat-header-cell>

          <mat-cell *matCellDef="let element" style="min-width:60px;"> {{element.errorType}} </mat-cell>

        </ng-container>

 

        <ng-container matColumnDef="count">

          <mat-header-cell *matHeaderCellDef style="min-width:60px;"> Count </mat-header-cell>

          <mat-cell *matCellDef="let element" style="min-width:60px;"> {{element.count}} </mat-cell>

        </ng-container>

 

        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>

        <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>

      </mat-table>

    </div>

 

  </div>

</section>



<!-- <section class="flows-list-container">
<div style="width: 50%">
    <table class="table table-sm table-hover" style="width:50%">
        <thead class="bg-success">
        <tr>
        <th style="width: 10%">Customer ID</th>
        <th style="width: 30%">Name</th>
        <th>EMail</th>
        <th>Contact No#</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let customer of this.ErrorDetails">
        <td>{{customer.errorMessage}}</td>
        <td>{{customer.errorType}}</td>
        <td>{{customer.email}}</td>
        <td>{{customer.tel}}</td>
        </tr>
        </tbody>
        </table> 
      </div>
</section> -->
