.flows-list-container{

  margin: 5px;
  padding: 0px;
  /* padding: 15px; */
  overflow: scroll;
  min-height: 350px;

    

}

 

mat-select {

  font-size: 12px;

}

 

mat-cell{

    font-size: 11px;

  }

 

  .mat-header-row {

    background: #4c7093; 

    min-height: 25px !important;   

  }

 

  .mat-header-cell{

    font-size: 12px;

    font-weight: bold;

    color: white;

    padding-top: 3px;

    padding-bottom: 3px;

  }

 

  mat-row:nth-child(even){

    background-color:#e5eaef;

    }

 

  mat-row:nth-child(odd){

    background-color:#ffffff;

    }