<!--The content below is only a placeholder and can be replaced.-->
<div class="container">
    <!-- <div fxLayout="row" > 
  <div fxFlex="40">
        <angular2-date-picker (onDateSelect)="onDateSelect($event)" 
    [(ngModel)]="date" 
    [settings]="settings" >
</angular2-date-picker>
          </div>

      <div fxFlex="40">
            <angular2-date-picker (onToDateSelect)="onToDateSelect($event)" 
            [(ngModel)]="todate" 
            [settings]="settings" >
        </angular2-date-picker>
                  </div>
   <div fxFlex="40"> 1533116757616
        <angular2-date-picker [(ngModel)]="date1" [settings]="settings"></angular2-date-picker>
            </div>
         
            <div fxFlex="20"><button mat-raised-button color="primary">Update Graph</button></div>
    </div> 
   -->
   
   <mat-form-field [style.fontSize]="fontSize.value">
    <mat-label>Autosize textarea</mat-label>
    <textarea matInput
           ></textarea>
  </mat-form-field>
   <div fxLayout="row" >
     <div fxFlex="50">
     <mat-form-field>

            <input matInput [matDatepicker]="fromDatePicker" placeholder="From Date" [min]="minFromDate" [max]="maxFromDate" [(ngModel)]="formattedFromDate"
            [formControl]="fromDateCtrl" (dateInput)="addEvent('input', $event)" (dateChange)="addEvent('change', $event)">

            <mat-datepicker-toggle matSuffix [for]="fromDatePicker"></mat-datepicker-toggle>

            <mat-datepicker #fromDatePicker></mat-datepicker>

          </mat-form-field>

          <mat-form-field>

            <input matInput [matDatepicker]="toDatePicker" placeholder="To Date" [min]="minToDate" [max]="maxToDate" [(ngModel)]="formattedToDate"

              [formControl]="toDateCtrl" (dateInput)="addEvent('input', $event)" (dateChange)="addEvent('change', $event)">

            <mat-datepicker-toggle matSuffix [for]="toDatePicker"></mat-datepicker-toggle>

            <mat-datepicker #toDatePicker></mat-datepicker>

          </mat-form-field>
     
     </div>
     <mat-bar-button (click)="btnClick()" [options]="btnOpts">hello</mat-bar-button>
    <div fxFlex="20" >
     <div data-html2canvas-ignore="true"><button mat-raised-button color="primary" (click)="generateReports()">Generate Reports</button></div>
</div>
<div fxFlex="20">
  <div data-html2canvas-ignore="true"><button mat-raised-button color="primary" (click)="updateUIandDownload()">Download PDF</button></div>
</div>
<!-- <div fxFlex="20">
  <div><i class="fa fa-file-pdf-o" aria-hidden="true"></i></div>
</div> -->
</div>



<div id="container" class="">
  
    
        <!-- <div fxLayout="row" >
            <div fxFlex="40"> -->
        <label *ngIf="isDivVisible" >
            
         <div style="text-align: center; margin-left: 450px"><h2><u>Report</u></h2></div>
         
         <div fxLayout="row">
            <div fxFlex="70">
            <div style = "padding-left:140px;" > <b>1:&nbsp;&nbsp;</b>{{abc}}</div>
          </div>
          <div fxFlex="30">
            <div style = "padding-left:140px;" ><b>2:&nbsp;&nbsp;</b>{{abc}}</div>
            <!-- <div class="p-2">Flex item 3</div> -->
            
          </div>
</div>
          <div fxLayout="row">
              <div fxFlex="100">
              <div > <b>3:&nbsp;&nbsp;</b>{{abc}}</div>
              <div ><b>4:&nbsp;&nbsp;</b>{{abc}}</div>
              <!-- <div class="p-2">Flex item 3</div> -->
              </div>
            </div>
         
          </label>
          
          <!-- <div class="d-flex flex-column">
             
              <div class="p-2"><b>Generated by kamaldeep kaur :&nbsp;&nbsp;</b>{{abc}}</div>
              <div class="p-2"> <b>To Date:&nbsp;&nbsp;</b>{{abc}}</div> -->
              <!-- <div class="p-2">Flex item 3</div>
            </div> -->


         <!-- <div style = "padding-left:20px; background-color: aqua"> 
          <b>Flow Name:&nbsp;&nbsp;</b>{{abc}}
          <b>From Date:&nbsp;&nbsp;</b>{{abc}}
          <b>To Date:&nbsp;&nbsp;</b>{{abc}}<br>
        </div>
        <div style = "padding-left: 20px;">  <b>Generated by kamaldeep kaur :&nbsp;&nbsp;</b>{{abc}}<br></div>
        </label> -->
      
  <!-- <div  *ngIf="isDivVisible">
    <h1>pdf document</h1>
  </div> -->
     <div style = "margin-left: 30px;" *ngIf="chart" style="background-image: linear-gradient(#003366); background-color: #003366; ">
  <canvas  id="canvas" width="1750px" height="600px" >{{chart}}</canvas>
  <progress id="animationProgress" max="1" value="0" style="width: 100% "></progress>
</div>
  
<div fxLayout="row" >
      <div fxFlex="40">
          <!-- <div class="card"> -->
            <div class="card-header text-white bg-secondary">
              Error Message View
            </div>
            <!-- <div >   class="card-body" -->
              <div >
                  <app-data-list></app-data-list>
            </div>
          <!-- </div> -->
          </div>
        
    <div fxFlex="30">
        <div class="card-header text-white bg-secondary">
            Error Types: Business & Technical
          </div>
          <div class="mat-elevation-z8" >
              <app-pie-chart></app-pie-chart>
          </div>
    </div>

    <div fxFlex="30">
        <div class="card-header text-white bg-secondary">
            tranascions
          </div>
          <div class="mat-elevation-z8" >
              <app-pie-chart-transactions></app-pie-chart-transactions>
          </div>
    </div>
  </div>
  <!-- <div fxFlex="50" class="mat-elevation-z8"><app-pie-chart></app-pie-chart></div>
  
  <div fxFlex="50" class="mat-elevation-z8" ><app-pie-chart-transactions></app-pie-chart-transactions></div> -->
</div>


<footer style = "background-color: aqua">hello</footer>
<!-- <div ><app-data-list></app-data-list></div> -->
</div>

