/* You can add global styles to this file, and also import other style files */
.canvas-con {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 365px;
    position: relative;
  }
  
  .canvas-con-inner {
    height: 100%;
  }
  
  .canvas-con-inner, .legend-con {
    display: inline-block;
  }
  
  .legend-con {
    font-family: Roboto;
    display: inline-block;
  }
  .legend-con ul {
    list-style: none;
  }
  .legend-con li {
    display: flex;
    align-items: center;
    margin-bottom: 4px;
  }
  .legend-con li span {
    display: inline-block;
  position: relative;
  }
  .legend-con li span.chart-legend {
    width: 25px;
    height: 25px;
    margin-right: 10px;
  }
  @import "~@angular/material/prebuilt-themes/indigo-pink.css";

  @import '~bootstrap/dist/css/bootstrap.min.css';
@import '~open-iconic/font/css/open-iconic-bootstrap.css';